@media screen and (max-width:600px){


        body{
          
            background: linear-gradient(#000000, --gray-color);
        }    


        .main-section__middle{
            margin-left: 0px;
            margin-right:0px;
    
          justify-content: center;
          margin-left:0;
          margin-right:0;
        }


        
  .main-section
  {
      padding: 0px;
      margin-bottom: 0px;
      justify-content: center;
      background-size:cover;
  }






}